<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>toDoAppFE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>UbuntuSans-Bold.ttf</string>
		<string>UbuntuSans-BoldItalic.ttf</string>
		<string>UbuntuSans-ExtraBold.ttf</string>
		<string>UbuntuSans-ExtraBoldItalic.ttf</string>
		<string>UbuntuSans-ExtraLight.ttf</string>
		<string>UbuntuSans-ExtraLightItalic.ttf</string>
		<string>UbuntuSans-Italic.ttf</string>
		<string>UbuntuSans-Light.ttf</string>
		<string>UbuntuSans-LightItalic.ttf</string>
		<string>UbuntuSans-Medium.ttf</string>
		<string>UbuntuSans-MediumItalic.ttf</string>
		<string>UbuntuSans-Regular.ttf</string>
		<string>UbuntuSans-SemiBold.ttf</string>
		<string>UbuntuSans-SemiBoldItalic.ttf</string>
		<string>UbuntuSans-Thin.ttf</string>
		<string>UbuntuSans-ThinItalic.ttf</string>
		<string>UbuntuSans_Condensed-Bold.ttf</string>
		<string>UbuntuSans_Condensed-BoldItalic.ttf</string>
		<string>UbuntuSans_Condensed-ExtraBold.ttf</string>
		<string>UbuntuSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>UbuntuSans_Condensed-ExtraLight.ttf</string>
		<string>UbuntuSans_Condensed-ExtraLightItalic.ttf</string>
		<string>UbuntuSans_Condensed-Italic.ttf</string>
		<string>UbuntuSans_Condensed-Light.ttf</string>
		<string>UbuntuSans_Condensed-LightItalic.ttf</string>
		<string>UbuntuSans_Condensed-Medium.ttf</string>
		<string>UbuntuSans_Condensed-MediumItalic.ttf</string>
		<string>UbuntuSans_Condensed-Regular.ttf</string>
		<string>UbuntuSans_Condensed-SemiBold.ttf</string>
		<string>UbuntuSans_Condensed-SemiBoldItalic.ttf</string>
		<string>UbuntuSans_Condensed-Thin.ttf</string>
		<string>UbuntuSans_Condensed-ThinItalic.ttf</string>
		<string>UbuntuSans_SemiCondensed-Bold.ttf</string>
		<string>UbuntuSans_SemiCondensed-BoldItalic.ttf</string>
		<string>UbuntuSans_SemiCondensed-ExtraBold.ttf</string>
		<string>UbuntuSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>UbuntuSans_SemiCondensed-ExtraLight.ttf</string>
		<string>UbuntuSans_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>UbuntuSans_SemiCondensed-Italic.ttf</string>
		<string>UbuntuSans_SemiCondensed-Light.ttf</string>
		<string>UbuntuSans_SemiCondensed-LightItalic.ttf</string>
		<string>UbuntuSans_SemiCondensed-Medium.ttf</string>
		<string>UbuntuSans_SemiCondensed-MediumItalic.ttf</string>
		<string>UbuntuSans_SemiCondensed-Regular.ttf</string>
		<string>UbuntuSans_SemiCondensed-SemiBold.ttf</string>
		<string>UbuntuSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>UbuntuSans_SemiCondensed-Thin.ttf</string>
		<string>UbuntuSans_SemiCondensed-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
